/Lab3/lab3_1/nbproject/private/
/Lab3/lab3_1/build/
/Lab3/lab3_2/nbproject/private/
/Lab3/lab3_2/build/
/Lab3/lab_3/nbproject/private/
/Lab3/lab_3/build/
/Lab3/lab_4/nbproject/private/
/Lab3/lab_4/dist/
/Lab3/lab_4/build/
/Lab3/lab3_5/nbproject/private/
/Lab3/lab3_6/nbproject/private/
/Lab3/lab3_6/build/
/PRO192_FA24_PE_601669/PaperNo_1/1/nbproject/private/
/PRO192_FA24_PE_601669/PaperNo_1/2/nbproject/private/
/PRO192_FA24_PE_601669/PaperNo_1/3/nbproject/private/
/PRO192_FA24_PE_601669/PaperNo_1/4/nbproject/private/
/PRO192_FA24_PE_601669/PaperNo_1/1/build/
/PRO192_FA24_PE_601669/PaperNo_1/2/build/
/PRO192_FA24_PE_601669/PaperNo_1/3/build/
/PRO192_PE_SP25_545789/PaperNo_2/4/build/
/Lab3/lab3_7/nbproject/private/
/Lab3/lab3_7/build/
/workshop3_lưu_chí_kiên_he204365/nbproject/private/
/workshop3_lưu_chí_kiên_he204365/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/workshop3_kienlche204365/build/
/PE03_PRO192_SU25_209825/PaperNo_1/3/build/
/PE03_PRO192_SU25_209825/PaperNo_1/4/build/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/1/nbproject/private/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/2/nbproject/private/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/3/nbproject/private/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/4/nbproject/private/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/1/build/
/PRO192_PE_SU24_792825/PRO192_PE_SU24_792825/PaperNo_1/3/build/
/Account/nbproject/private/
/lab4_1/nbproject/private/
/PE01_PRO192_FA24_136528/PaperNo_1/1/nbproject/private/
/PE01_PRO192_FA24_136528/PaperNo_1/2/nbproject/private/
/PE01_PRO192_FA24_136528/PaperNo_1/3/nbproject/private/
/PE01_PRO192_FA24_136528/PaperNo_1/4/nbproject/private/
